.shadow {
  -webkit-box-shadow: 1px 4px 5px 0px #abc3c4;
  -moz-box-shadow: 1px 4px 5px 0px #abc3c4;
  box-shadow: 1px 4px 5px 0px #abc3c4;
}
.newsShadow {
  -webkit-box-shadow: 1px 4px 5px 0px #abc3c4;
  -moz-box-shadow: 1px 4px 5px 0px #abc3c4;
  box-shadow: 1px 4px 5px 0px #abc3c4;
}
.statistic {
  margin: 20px auto;
}
.statistic table {
  height: 300px;
  width: 100%;
  margin: 0px auto;
}
.statistic table td {
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}
.h2h {
  width: 100% !important;
  height: 20px !important;
  font-size: 20px;
}
.h2h img {
  width: 30px;
  height: 30px;
}
